<h1 style="text-align: center;">Angular Typed Template</h1>

<div style="display: flex; flex-direction: column; gap: 10px;">
  <app-card [data]="cards[0]" />

  <ng-container *ngTemplateOutlet="cardTpl2; context: {$implicit: cards[1]}"></ng-container>
  <ng-container *ngTemplateOutlet="cardTpl3; context: {$implicit: cards[2]}"></ng-container>

  <ng-template #cardTpl2
               let-item>
    <app-card [data]="$as(item, cardType)" />
  </ng-template>

  <ng-template #cardTpl3
               [template]="cardType"
               let-item>
    <app-card [data]="item" />
  </ng-template>

  <div *template="cards[3]; item as i">
    <app-card [data]="i" />
  </div>

</div>